@import "../../styles.scss";

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $navbar_bg_color;

    & div {
        cursor: pointer;
        margin: 10px;
        & img {
            width: 40px;
        }
    }
}
